# bzlmod enables access to the Bazel Central Registry.
# See https://registry.bazel.build/ for more details.
# Enable Bzlmod for every Bazel command.
# https://bazel.build/external/migration#enable-bzlmod
common --enable_bzlmod

build --cxxopt=-std=c++20

# Display details on failing tests to stdout.
# See https://bazel.build/docs/user-manual#test-output for documentation.
test --test_output=errors